# dirs, files, and patters to exclude
**/project.xcworkspace
**/xcshareddata
**/xcuserdata
*.dylib
*.mxe
*.mxe64
*.mxo
*.o
*.opensdf
*.pyc
*.sdf
*.sln
*.suo
.DS_Store
.env
.mypy_cache
.pytest_cache
.quarto
.vs
.vscode
.venv
__pycache__
build
CMakeFiles
env.sh
externals/*
extensions/*
javascript/node_modules
log.txt
logs
package-info.json
support/*
sysbuild
tmp
